*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --dark-purple: #3a0431;
    --plum: #890f89;
    --light-purple: #d592d5;
}

body{
    background-color: rgb(58, 4, 49);
    font-family: Arial, Helvetica, sans-serif;
}

/*
+------------------------------------------+
| logo          home courses about sign up |
+------------------------------------------+

                                 +---------+
                                 | home    |
                                 | courses |
                                 | > html  |
                                 | > css   |
                                 | > js    |
                                 | about   |
                                 | sign up |
                                 +---------+
*/
/*------------------***************nav links and logo****------------*/
.main-div{
    background-color: rgba(255,255,255,0.85);
    width: 100%;
    height: 9vh;
    display: flex;
    flex-wrap: nowrap;
}
.main-div a{
    text-decoration: none;
    font-weight: 500;
    color: black;
    float: left;
    margin: auto;
    display: block;
}
.main-div a:hover {
    /* color: var(--plum); */
    border-bottom: 2px solid #3a0431;
}
.main-div a.active {
    color: var(--dark-purple);
}
.main-div .sign-up{
    background-color: #3a0431;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    text-align: center;
    line-height: 30px;
    color: aliceblue;
    font-family: monospace;
    font-weight: 900;
    font-size: 0.9rem;
}

.main-div  i{
    color: black;
    font-size: s;
    margin-right: 40px;
    margin: auto;
}
.help-feedback{
    display: none;
}
.icon-container{
    width: 30px;
    height: 30px;
    align-self: center;
    position: relative;
}
.icon-container i{
    text-align: center;
    line-height: 30px;
}
.icon-container:hover .help-feedback{
background-color: #d592d5;
color: black;
border-radius: 0 10px;
width: 80px;
height: 80px;
display: block;
position: absolute;
top: 21px;
z-index: 500;
}
.help-feedback a{
    text-decoration: none;
    color: aliceblue;
    font-family: monospace;
    margin-left: 5px;
}
.logo{
    background-image: url("image/logos.svg");
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
    margin: auto;
    margin-right: 150px;
}
/*---------------------*****end of nav****--------------*/

/*--------------------*****hero section------------------*/
.hero-section img{
    width: 100%;
    object-fit: cover;
}
.hero-section{
    position: relative;
    width: 100%;
    height: 598px;
    overflow: hidden;
    background-color: black;
}
.hero-text{
    position: absolute;
    top:0;
    left: 0;
    width: 90%;
    background: linear-gradient(to right, rgba(58, 4, 49, 0.8), rgba(137, 15, 137, 0.7), rgba(255,255,255, 0.4), transparent 100%);
    height: 598px;
}
.hero-logo{
    opacity: 15%;
    background-image: url(image/skillseekerhub-plainlogotania.svg);
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    height: 80%;
    position: absolute;
    top: 7px;
    left: 40%;
    border: px solid red;
}
.hero-text p{
    color: #f5f5f5;
    font-weight: 400;
    font-size: xxx-large;
    position: absolute;
    top: 11%;
    left: 2%;
    line-height: 1.2em;
    letter-spacing: 2px;
}
.hero-text .hero-para{
    font-size: small;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 13px;
    width: 50%;
    line-height: 30px;
    letter-spacing: 0.01em;
}
button{
    background-color: plum;
    width: 75px;
    height: 30px;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    position: absolute;
    bottom: 13%;
    left: 19px;
    
}
button a{
    text-decoration: none;
    color: #3a0431;
}
button:hover{
    background-color: #890f89;
    color: #d592d5;
}
button a:hover{
    color: #f5f5f5;
}

